extends layout

block content
  h1 Client using access token.

  include diagram.pug

  div
    h3 Step 7
    p.
      The client server can then get user's data from the resource server: &quot;#{body}&quot;



