#tduck-diagram
  #user.tduck-diagram-obj
    span User (Agent)
  #clnt.tduck-diagram-obj
    span Client App
  #rsce.tduck-diagram-obj
    span Resource Provider
  #data.tduck-diagram-obj
    span User Data
p.tduck-diagram-spacer

script(src="/diagram.js")
